.carousel-image-1{
    background-image: url(../images/banner.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.list-unstyled li::before{
    content: '\2713';
    color: blue;
    margin-right: 5px;
}
.radious{
    border-radius: 20px;
}
.size{
    width: 10vw;
    height: 6vh;
}

